.cart-icon{
position:relative;
color:#7A1F1F;
font-size:22px;
}

.cart-count{
position:absolute;
top:-8px;
right:-10px;
background:red;
color:white;
width:18px;
height:18px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:11px;
font-weight:bold;
}